@font-face {
  font-family: "nekst";
  src: url(./fonts/Nekst-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "nekst";
  src: url(./fonts/Nekst-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "gilroy";
  src: url(./fonts/Gilroy-UltraLight.ttf);
  font-weight: 200;
}
